/* Panda Syntax Highlighter - https://github.com/AvacWeb/Panda */
.panda-code {
	padding: 5px 10px;
	font-size: 1.2em;
	font-family: monospace;
	background: #EFEFEF;
	color: #0D700D;
	border: 1px solid #CCC;
	overflow: auto;
	max-height: 300px;
	text-shadow: 0 1px white;
	text-align: left;
	display: block;
}
.panda-code ol { padding-left: 15px; }
.panda-code ol li {
    padding: 1px 10px;
    margin: 4px 0;
    border-left: 2px solid green;
    list-style-type: decimal-leading-zero;
}
.panda-code ol li:hover { background: #DEDEDE; }

.panda-string, .panda-multiLineString { color: #C03; } /* string literals */
.panda-special { color: #09F; } /* words defined as special */
.panda-keyword, .panda-extra { color: #009; } /* keywords. .panda-extra = square braces, parentheses and curly braces. */
.panda-operators { font-weight: bold; color : #000; } /* > < & = == === !== != ! && * % + / || */
.panda-comment1, .panda-comment2, .panda-comment3 { color: #666!important; font-style: italic; } /* comments */
.panda-int { color: #f00; }
