.panda-htmltag { color : #0E66D6; } /* HTML tag */
.panda-xmlcomment { color : #666; } /* XML comment: <!-- Comment --> */
.panda-htmltag-special { color : #A333D8; } /* a, script, body, head, html, meta, link tags. */
.panda-htmltag-attribute { color : blue; } /* attribute value */