.panda-selector { color: #FF00F5; } /* selector section */
.panda-cssproperty { color : #105289; } /* property name */
.panda-important { color: #f00; } /* !important declaration */
.panda-cssunit {  } /* eg 5px 1.2em bla bla */
.panda-selector-pseudo { color: #D36CD3; font-style: italic; } /* Pseudo part of selector strings. */
